@page
@model BankAccountTransactionsEnd.Pages.Account.DepositModel
@{
}

<h1>Deposit</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input class="form-control" asp-for="Amount" />
    </div>
    <div class="form-group">
        <label asp-for="DepositDate">Date</label>
        <input class="form-control" asp-for="DepositDate" />
    </div>
    <div class="form-group">
        <label asp-for="Comment">Comment</label>
        <input class="form-control" asp-for="Comment" />
    </div>
        <button type="submit" class="btn btn-primary">Deposit</button>
</form>
